@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
  padding: 0;
  color: #716C80;
  background: #fff;
}

.button {
  display: block;
  padding: 14px 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: #3654E5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.7;
  outline: none;
}

.button:active {
  opacity: 0.5;
}

.slider {
	width: 100%;
}

.slider__list {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.slider__item {
	min-height: 670px !important;
	padding: 142px 140px 0;
	background: url("../img/background.svg") 50% -140px no-repeat;
}

.slider__item-title {
	max-width: 600px;
	margin: 0;
	padding: 0 0 31px;
	font-weight: 600;
	font-size: 50px;
	line-height: 60px;
	color: #232023;
}

.slider__item-text {
	max-width: 650px;
	margin: 0;
	padding: 0 0 52px;
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	color: #080606;
}

.slider__item-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	max-width: 387px;
	padding: 0 0 74px 0;
}

.slider__item-button--help {
	width: 153px;
}

.slider__item-button--info {
	width: 204px;
	background: #F9B98B;
}

.slick-dots {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	bottom: 90px;
	left: 120px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 20px;
  padding: 0;
  cursor: pointer;
}

.slick-dots button {
	font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  cursor: pointer;
  outline: none;
	color: transparent;
	width: 12px;
	height: 12px;
	border: none;
	border-radius: 50%;
	background: #BAC6F2;
}

.slick-dots .slick-active button {
	background: #3654E5;
}

@media (max-width: 768px) {
	.slider__item {
		padding: 50px 30px 0;
		text-align: center;
		background: none;
		min-height: 500px !important;
	}

	.slider__item-title {
		margin: 0 auto;
	}

	.slider__item-text {
		margin: 0 auto;
	}

	.slider__item-buttons {
		margin: 0 auto;
	}

	.slick-dots {
		bottom: 30px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

@media (max-width: 446px) {
	.slider__item {
		min-height: 400px !important;
	}

	.slider__item-title {
		padding: 0 0 20px;
		font-size: 30px;
		line-height: 40px;
	}

	.slider__item-text {
		padding: 0 0 30px;
		font-size: 18px;
		line-height: 22px;
	}

	.slider__item-buttons {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.slider__item-button {
		margin: 0 0 30px 0;
	}
}

.news {
	width: 100%;
}

.news__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 82px 140px 26px;
}

.news__header-title {
	margin: 0;
	padding: 0 25px 0 0;
	font-size: 600;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	color: #232023;
}

.news__button {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	width: 292px;
  padding: 10px 0 !important;
  font-weight: 400;
  color: #3654E5;
  border: 2px solid #DCE0ED;
  background: none;
  cursor: pointer;
}

.news__button span {
	font-weight: 600;
}

.news__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 140px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
}

.news__item {
	width: 370px;
	margin: 0 0 27px;
}

.news__item-image {
	margin: 0 0 25px;
	-webkit-box-shadow: 0px 0px 20px #E1E4ED;
	        box-shadow: 0px 0px 20px #E1E4ED;
	border-radius: 10px;
	overflow: hidden;
}

.news__item-image img {
	display: block;
	width: 370px;
	height: auto;
	padding: 4px 0;
	-o-object-fit: contain;
	   object-fit: contain;
}

.news__item-date-tag {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0 8px;
}

.news__item-date {
	margin: 0 34px 0 0;
	color: #7F89A4;
	opacity: 0.8;
}

.news__item-tag {
	color: #3654E5;
	opacity: 0.8;
}

.news__item-title {
	margin: 0;
	padding: 0 0 8px;
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	color: #232023;
}

.news__item-text {
	margin: 0;
}

@media (max-width: 768px) {
	.news__header {
		padding: 82px 30px 26px;
	}

	.news__list {
		padding: 0 30px;
	}

	.news__item {
		margin: 0 auto 27px;
	}
}

@media (max-width: 446px) {
	.news__header {
		padding: 50px 30px 26px;
	}

	.news__header-title {
		font-size: 30px;
		line-height: 40px;
	}

	.slider__item-text {
		padding: 0 0 30px;
		font-size: 18px;
		line-height: 22px;
	}

	.slider__item-buttons {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.slider__item-button {
		margin: 0 0 30px 0;
	}
}